

<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
  <a target="_blank" href="http://www.fleetnetwork.com.au">
    <img src="/images/FleetNetwork_web.jpg" alt="Fleet Network" title="Fleet Network">
  </a>
</div>


<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
  <a target="_blank" href="http://grandcinemas.com.au">
    <img src="/images/Grand Cinemas Logo_web.jpg" alt="Grand Cinemas" title="Grand Cinemas">
  </a>
</div>


<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
  <a target="_blank" href="https://www.facebook.com/HairAffairGreenwood.">
    <img src="/images/Hair Affair_web.jpg" alt="Hair Affair Greenwood" title="Hair Affair Greenwood">
  </a>
</div>


<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
  <a target="_blank" href="http://gwelup.igaonline.com.au">
    <img src="/images/GWELUP_Sponsor_web.jpg" alt="IGA Gwelup" title="IGA Gwelup">
  </a>
</div>


<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
  <a target="_blank" href="">
    <img src="/images/Jim-Kidd-Logo-Carine.jpg" alt="Jim Kidd Sports Carine" title="Jim Kidd Sports Carine">
  </a>
</div>


<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
  <a target="_blank" href="http://kaffeinecafeandpizzeria.com">
    <img src="/images/Kaffiene Logo_web.jpg" alt="Kaffeine" title="Kaffeine">
  </a>
</div>


<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
  <a target="_blank" href="http://karrinyupcentre.com.au/home">
    <img src="/images/KARR LOGO_web.jpg" alt="Karrinyup Shopping Centre" title="Karrinyup Shopping Centre">
  </a>
</div>


<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
  <a target="_blank" href="http://kipmcgrath.com.au/balcatta">
    <img src="/images/balcatta_logo_sponsorship_web.jpg" alt="Kip McGrath Balcatta" title="Kip McGrath Balcatta">
  </a>
</div>


<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
  <a target="_blank" href="http://medifoot.com.au">
    <img src="/images/medifoot logo_web.jpg" alt="Medi Foot Podiatry" title="Medi Foot Podiatry">
  </a>
</div>


<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
  <a target="_blank" href="http://orourke.com.au/michaela.html">
    <img src="/images/O'Rourke New logo_web.jpg" alt="O'Rourke Realty Investments" title="O'Rourke Realty Investments">
  </a>
</div>


<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
  <a target="_blank" href="https://www.facebook.com/paulawooddesign">
    <img src="/images/Paula_Wood_Design_web.jpg" alt="Paula Wood Graphic & Web Design" title="Paula Wood Graphic & Web Design">
  </a>
</div>


<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
  <a target="_blank" href="http://specssmart.com.au">
    <img src="/images/Specs Smart logo_web.jpg" alt="Specs Smart Gwelup" title="Specs Smart Gwelup">
  </a>
</div>


<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
  <a target="_blank" href="http://theblindsgallery.com.au">
    <img src="/images/THE BLINDS GALLERY_web.jpg" alt="The Blinds Gallery" title="The Blinds Gallery">
  </a>
</div>


<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6" style="height: 180px">
  <a target="_blank" href="https://www.facebook.com/thecoffeeclubinnaloo">
    <img src="/images/CoffeeClubLogo_web.jpg" alt="The Coffee Club Innaloo" title="The Coffee Club Innaloo">
  </a>
</div>


<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
  <a target="_blank" href="http://tinytotstenniswa.com.au/centre_westcoast.php">
    <img src="/images/Tiny Tots Tennis Logo_web.jpg" alt="Tiny Tots Tennis" title="Tiny Tots Tennis">
  </a>
</div>


<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
  <a target="_blank" href="http://travelkey.com.au">
    <img src="/images/plane_trail-blue_stacked_logo_web.jpg" alt="travel key Leederville" title="travel key Leederville">
  </a>
</div>


<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6" style="height: 180px">
  <a target="_blank" href="http://waima.com.au">
    <img src="/images/logo crest on white_web.jpg" alt="WAIMA" title="WAIMA">
  </a>
</div>

