
 

<header class="header-background header" id="header" data-stellar-background-ratio="0.5"> <!--Start: "Header Area"-->
    <div class="fix header-overlay overlay-color">

        <!-- Start: Navbar Area  -->
        <div class="header-navbar navbar-fixed-top" id="header-navbar" style="background-color: rgba(48,170,48,0.75); padding-top: 0px">

            <nav class="navbar navbar-inverse">
                <div class="container">
                    <div class="navbar-header">
                    <a href="/"><img src="/images/logomen.png" class="img-responsive" alt="{{ site.title }}" style="height: 75px; margin-bottom: 5px; margin-top: 5px"></a>



                        <!-- Show in Mobile -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar icon-close-1"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar icon-close-2"></span> 
                        </button>



                    </div>

                    <!-- Show in Dexktop -->
                    <button type="button" class="navbar-toggle navbar-cus hidden-xs " id="navbar-cus">
                        <span class="lines"></span>
                    </button>

                    <!-- Navbar Option -->
                    <div id="myNavbar">
                        <ul id="navbar-nav" class="myNavbarUl nav navbar-nav navbar-right slideOutRight">
                            <li><a href="#header">Home</a></li>
                            <li><a href="#section-1">Course Info</a></li>
                            <li><a href="{{ site.registerlink }}">Register</a></li>
                            <!-- <li><a href="#section-10">Merchandise</a></li> -->
                            <li><a href="photos/">Gallery</a></li> 
                            <li><a href="#section-7">Sponsors</a></li>
                            <li><a href="/results.html">Results</a></li> 

                        </ul>
                    </div>
                </div> <!-- End: container  -->
            </nav> <!-- End: navbar navbar-inverse  -->
        </div>
        <!-- End: Navbar Area  -->
        
        <div class="container">
            <div class="row header-body" id="header-body">

                <!-- Start: CountDown area -->
                <div class="count_down fadeInDown animated" data-wow-offset="120" data-wow-duration="1.5s">
                </div>
                <!-- End: CountDown area -->

                <div class="clearfix">
                </div>

                <div class="col-md-offset-1 col-md-5 heading fadeInUp animated" data-wow-offset="120" data-wow-duration="1.5s">
                    <h1><b>JOIN US FOR A</b><br><b> DAY OF FUN!</h1>
                </div>

                <div class="col-md-5 pera fadeInUp animated" data-wow-offset="120" data-wow-duration="1.5s">
                    <p>The Lake Gwelup Fun Run is a fun family day. You can walk or run the 3 km or 6 km Fun Run!</p>
                    <p>Enjoy the excitement and variety of rides and activities all morning long. There will be food, stalls, games, live music and more!</p>

                    <!-- Start: Button area -->
                    <div class="buy-tricket btn-scroll">
                        <div class="btn-group">
                            <a href="{{ site.registerlink }}" class="btn-fill btn-standard btn btn-cus">Register Now!</a>
                        </div>
                    </div>
                    <!-- End: Button area" -->

                </div><!-- End: col-md-5 pera  -->


            </div><!-- End: header-body  -->
        </div> <!-- End: container  -->


    </div> <!-- End: fix header-overlay overlay-color  -->
</header> <!--End: Header Area-->