
         

        <header class="header-background header" id="header" data-stellar-background-ratio="0.5"> <!--Start: "Header Area"-->
            <div class="fix header-overlay overlay-color">

                <!-- Start: Navbar Area  -->
                <div class="header-navbar navbar-fixed-top" id="header-navbar" style="background-color: rgba(48,170,48,0.75)">
                    <nav class="navbar navbar-inverse">
                        <div class="container">
                            <div class="navbar-header">

                                <!-- Show in Mobile -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                    <span class="icon-bar icon-close-1"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar icon-close-2"></span> 
                                </button>

                                <!-- Your Icon Goes Here -->
                                <a class="navbar-brand" href="/">
                                    <!-- <img src="images/lglogo.png" class="img-responsive" alt=""> -->
                                    <span>{{ site.title }}</span>
                                </a> 

                            </div>

                            <!-- Show in Dexktop -->
                            <button type="button" class="navbar-toggle navbar-cus hidden-xs " id="navbar-cus">
                                <span class="lines"></span>
                            </button>

                            <!-- Navbar Option -->
                            <div id="myNavbar">
                                <ul id="navbar-nav" class="myNavbarUl nav navbar-nav navbar-right slideOutRight">
                                    <li><a href="/index.html#header">Home</a></li>
                                    <li><a href="/index.html#section-1">Course Info</a></li>
                                    <li><a href="{{ site.registerlink }}">Register</a></li>
                                    <li><a href="/index.html#section-10">Merchandise</a></li>
                                    <li><a href="/photos/">Gallery</a></li> 
                                    <li><a href="/index.html#section-7">Sponsors</a></li> 
                                    <li><a href="/results.html">Results</a></li> 
                                </ul>
                            </div>
                        </div> <!-- End: container  -->
                    </nav> <!-- End: navbar navbar-inverse  -->
                </div>
                <!-- End: Navbar Area  -->
                
                <div class="container">
                    <div class="row header-body" id="header-body" style="margin-top: 100px">


                        <div class="col-md-offset-1 col-md-5 heading fadeInUp animated" data-wow-offset="120" data-wow-duration="1.5s">
                            <h1>{{ page.title }}</h1>
                        </b>



                    </div><!-- End: header-body  -->
                </div> <!-- End: container  -->


            </div> <!-- End: fix header-overlay overlay-color  -->
        </header> <!--End: Header Area-->