
<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
  <a target="_blank" href="http://alcanfiresafety.com.au">
    <img src="/images/Alcan Logo_web.jpg" alt="Alcan Fire & Safety Resources" title="Alcan Fire & Safety Resources">
  </a>
</div>


<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
  <a target="_blank" href="http://desborough.com.au">
    <img src="/images/Desb Accountants Logo_web.jpg" alt="Desborough Accountants" title="Desborough Accountants">
  </a>
</div>


<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
  <a target="_blank" href="http://gwelupfruitsandmore.com">
    <img src="/images/Gwelup Fruits & More logo_web.jpg" alt="Gwelup Fruits & More" title="Gwelup Fruits & More">
  </a>
</div>


<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
  <a target="_blank" href="http://snap.com.au/snap-balcatta.html">
    <img src="/images/Snap_web.jpg" alt="Snap Printing" title="Snap Printing">
  </a>
</div>


<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
  <a target="_blank" href="http://communitynews.com.au">
    <img src="/images/Stirling Times_web.jpg" alt="Stirling Times" title="Stirling Times">
  </a>
</div>

