---
---
<!DOCTYPE html>
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
    {% include head.html %}
    <body>

    <!-- PRELOADER -->
    <div class="spinner-wrapper">
        <div class="bubblingG">
            <span id="bubblingG_1"></span>
            <span id="bubblingG_2"></span>
            <span id="bubblingG_3"></span>
        </div>
    </div>
     <!-- /END PRELOADER -->

    {% include fullheader.html %}




        
        <section class=" about-our-event" id="section-1"><!-- Start: about-our-event, "SECTION-1" -->
        	<div class="container">

                <!-- Start: About Our Event Area  -->
                <div class="row about-our-event-body">
                    
                    <!-- Start: About-Our-Event Left Area  -->
        			<div class="about-our-event-left col-md-5 wow fadeInLeft animated" data-wow-offset="120" data-wow-duration="1.5s">
                        <div class="about-our-event-left-body">
			                <h2>COURSE INFORMATION</h2>
                            <h3>Where & When</h3>
                            <p>The Lake Gwelup Fun Run will be held on Monday, 6th June, 2016 (Western Australia Day public holiday) at Lake Gwelup Reserve, Cnr Huntriss Rd and Segrave St, Karrinyup.</p>
                            <p>The official race warm up begins at 9.45am with the 6km run starting at 9.40am.</p>
                            <p>The family and 3km race starts at 10am. Food and entertainment available from 9am.</p>
                            
                        </div>
        			</div>
                    <!-- End: About-Our-Event Left Area  -->
                    
                    <!-- Start: About-Our-Event Right Area  -->
        			<div class="about-our-event-right col-md-offset-1 col-md-6 wow fadeInRight animated" data-wow-offset="120" data-wow-duration="1.5s" style="overflow: visible">
                        <img src="images/Lake-Gwelup-FunRun-Map.jpg" style="width: 600px; padding-top: 100px">
        			</div>
                    <!-- End: About-Our-Event Right Area  -->
        		</div>
                <!-- End: About Our Event Area  -->
                

                <!-- Start: About-Our-Event Overlay background Area  -->
                <div class="about-background-image">

                    <!-- About-Our-Event Overlay background Left Area  -->
                    <div class="background-left col-sm-12 col-md-6"></div>

                    <!-- About-Our-Event Overlay background Right Area  -->
                    <div class="bg-img-3 background-right col-sm-12 col-md-6">
                        <div></div>
                        <!-- <div class="background-right-overlay-color"></div> -->
                    </div>

                </div> <!--  about-background-image  -->

            </div> <!-- End: container -->
        </section> <!-- End: about-our-event, "SECTION-1" -->

        

        <section class="sponsore" id="section-7" ><!-- Start: Sponsore Area, "#SECTION-7" -->
            <div class="container">
                <div class="row sponsore-body col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 "><!-- Start: Sponsore Body Area -->
                    
                    <div class="wow fadeInDown animated" data-wow-offset="120" data-wow-duration="1.5s">
                        <h2>OUR SPONSORS</h2><!-- Sponsore Heading Goes Here -->
                    </div>

                    <h2>Gold</h2>
                    <div class="row wow fadeInUp animated" data-wow-offset="120" data-wow-duration="1.5s">
			{% include gold_sponsors.html %}
		    </div>

                    
                    <!-- Start: Images Area -->
                    <div class="row wow fadeInUp animated" data-wow-offset="120" data-wow-duration="1.5s">
                        <h2>Silver</h2>
			 {% include silver_sponsors.html %}
                    </div><!-- End: Images Area -->

                    
                    <!-- Start: Images Area -->
                    <div class="row wow fadeInUp animated" data-wow-offset="120" data-wow-duration="1.5s">
                        <h2>Bronze</h2>

			{% include bronze_sponsors.html %}


                    </div><!-- End: Images Area -->



                </div><!-- Start: Sponsore Body Area -->
            </div><!-- End: .container  -->
        </section><!-- End: Sponsore Area, "#SECTION-7" -->







        {% include footer.html %}


        <!-- SCRIPTS -->
        <script src="js/jquery-1.11.3.min.js"></script>      
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/jquery.stellar.min.js"></script>
        <script src="js/jquery.scrollTo.min.js"></script>
        <script src="js/jquery.localScroll.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>  
        <script src="js/jquery.nav.js"></script>    
        <script src="js/wow.min.js"></script>               
        <script src="js/jquery.nicescroll.min.js"></script>
        <script src="js/matchMedia.js"></script>
        <script src="js/navbar.matchMedia.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="js/jquery.countdown.js"></script>
        <script src="js/fancySelect.js"></script>
        <script src="js/smoothscroll.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
        
        <script src="js/navbar-custom.js"></script> 
        <script src="js/custom-scripts.js"></script> 

    
    </body>

</html>
