---
---
<!DOCTYPE html>
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
    {% include head.html %}
    <body>

    <!-- PRELOADER -->
    <div class="spinner-wrapper">
        <div class="bubblingG">
            <span id="bubblingG_1"></span>
            <span id="bubblingG_2"></span>
            <span id="bubblingG_3"></span>
        </div>
    </div>
     <!-- /END PRELOADER -->

    {% include fullheader.html %}




        
        <section class=" about-our-event" id="section-1"><!-- Start: about-our-event, "SECTION-1" -->
        	<div class="container">

                <!-- Start: About Our Event Area  -->
                <div class="row about-our-event-body">
                    
                    <!-- Start: About-Our-Event Left Area  -->
        			<div class="about-our-event-left col-md-5 wow fadeInLeft animated" data-wow-offset="120" data-wow-duration="1.5s">
                        <div class="about-our-event-left-body">
            				<h2>COURSE INFORMATION</h2>
                            <h3>Where & When</h3>
            				<p>The Lake Gwelup Fun Run is held on Monday, 1st June, 2015 (Foundation Day Public Holiday) at Lake Gwelup Reserve, Cnr Huntriss Rd and Segrave St, Karrinyup.</p>
                            <p>The official race warm up begins at 9.45am with the 6km running starting at 9.40am.</p>
                            <p>The family and 3km race starts at 10am. Food and entertainment available from 9am.</p>
                            
                        </div>
        			</div>
                    <!-- End: About-Our-Event Left Area  -->
                    
                    <!-- Start: About-Our-Event Right Area  -->
        			<div class="about-our-event-right col-md-offset-1 col-md-6 wow fadeInRight animated" data-wow-offset="120" data-wow-duration="1.5s" style="overflow: visible">
                        <img src="images/Lake-Gwelup-FunRun-Map.jpg" style="width: 600px; padding-top: 100px">
        			</div>
                    <!-- End: About-Our-Event Right Area  -->
        		</div>
                <!-- End: About Our Event Area  -->
                

                <!-- Start: About-Our-Event Overlay background Area  -->
                <div class="about-background-image">

                    <!-- About-Our-Event Overlay background Left Area  -->
                    <div class="background-left col-sm-12 col-md-6"></div>

                    <!-- About-Our-Event Overlay background Right Area  -->
                    <div class="bg-img-3 background-right col-sm-12 col-md-6">
                        <div></div>
                        <!-- <div class="background-right-overlay-color"></div> -->
                    </div>

                </div> <!--  about-background-image  -->

            </div> <!-- End: container -->
        </section> <!-- End: about-our-event, "SECTION-1" -->


        <section class="twitter-background twitter-posts" id="section-10"> <!-- End: Twitter Posts Area, "#SECTION-10" -->
            <div class="fix overlay-color">
                <div class="container">

                    <div class="row twitter-posts-body col-md-offset-1 col-md-10 wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">
                        
                    <h2 style="color: white">Merchandise</h2>

                    <div class="form" style="background-color: transparent">
                    <div style="display: none;">
                    <input type="hidden" name="_wpcf7" value="697" />
                    <input type="hidden" name="_wpcf7_version" value="4.1.1" />
                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f697-p525-o1" />
                    <input type="hidden" name="_wpnonce" value="ecf4e0fc03" />
                    </div>
                    <p>Your Name (required)<br />
                        <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span> </p>
                    <p>Your Email (required)<br />
                        <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span> </p>
                    <p>Your Phone Number (required)<br />
                        <span class="wpcf7-form-control-wrap your-phone"><input type="text" name="your-phone" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span> </p>
                    <p>Select Product(s):<br />
                    $15.00 - Kids T-Shirt  <span class="wpcf7-form-control-wrap number-kids-tee"><input type="number" name="number-kids-tee" value="0" class="wpcf7-form-control wpcf7-number wpcf7-validates-as-number" step="1" aria-invalid="false" /></span></p>
                    <p>$20.00 - Adults T-Shirt  <span class="wpcf7-form-control-wrap number-adults-tee"><input type="number" name="number-adults-tee" value="0" class="wpcf7-form-control wpcf7-number wpcf7-validates-as-number" step="1" aria-invalid="false" /></span> </p>
                    <p>$13.00 - Cap  <span class="wpcf7-form-control-wrap number-cap"><input type="number" name="number-cap" value="0" class="wpcf7-form-control wpcf7-number wpcf7-validates-as-number" step="1" aria-invalid="false" /></span> </p>
                    <p>$25.00 - Kids Combo  <span class="wpcf7-form-control-wrap number-kids-combo"><input type="number" name="number-kids-combo" value="0" class="wpcf7-form-control wpcf7-number wpcf7-validates-as-number" step="1" aria-invalid="false" /></span> </p>
                    <p>$30.00 - Adult Combo  <span class="wpcf7-form-control-wrap number-adult-combo"><input type="number" name="number-adult-combo" value="0" class="wpcf7-form-control wpcf7-number wpcf7-validates-as-number" step="1" aria-invalid="false" /></span>
                    </p>
                    <p><button onclick="alert('Order Sent')" class="btn-fill btn-standard btn btn-cus" style="background-color: #30aa30">Send</button></p>
                    <div class="wpcf7-response-output wpcf7-display-none"></div></div>

                    </div> <!-- End: .row .twitter-posts-body .col-md-offset-1 .col-md-10  -->

                </div> <!-- End: .contaimer  -->
            </div> <!-- End: .overlay-color  -->
        </section> <!-- End: Twitter Posts Area, "#SECTION-10" -->
        

        <section class="sponsore" id="section-7" ><!-- Start: Sponsore Area, "#SECTION-7" -->
            <div class="container">
                <div class="row sponsore-body col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 "><!-- Start: Sponsore Body Area -->
                    
                    <div class="wow fadeInDown animated" data-wow-offset="120" data-wow-duration="1.5s">
                        <h2>OUR SPONSORS</h2><!-- Sponsore Heading Goes Here -->
                    </div>

                    <h2>Gold</h2>
                    <p style="text-align: center"><a href="http://waima.com.au/"><img src="/images/logo-crest-on-white-high-res1-235x300.jpg" width="235"></a></p>



                    
                    <!-- Start: Images Area -->
                    <div class="row wow fadeInUp animated" data-wow-offset="120" data-wow-duration="1.5s">
                        <h2>Silver</h2>
						<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
                            <a target="_blank" href="http://www.snap.com.au/snap-balcatta.html"><img src="/images/Snap-Logo1.jpg" alt="Snap Balcatta" title="Snap Balcatta"></a>
						</div>
						<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
                            <a target="_blank" href="https://www.facebook.com/GwelupPharmacy"><img src="/images/Gwelup-Plaza-Short-Logo-Slogan.jpg/images/Gwelup-Plaza-Short-Logo-Slogan.jpg" alt="Gwelup Plaza Pharmacy" title="Gwelup Plaza Pharmacy"></a>
						</div>
						<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
                            <a target="_blank" href="http://www.hertztrucks.com.au"><img src="/images/Hertz_Streamline_Badge.jpg" alt="Hertz" title="Hertz"></a>
						</div>
						<div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
                            <a target="_blank" href="http://alcanfiresafety.com.au/"><img src="/images/Alcan-Logo.jpg" alt="Alcan Fire & Safety Resources" title="Alcan Fire & Safety Resources"></a>
						</div>
                        <div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
                            <a target="_blank" href="http://www.communitynews.com.au/"><img src="/images/Stirling-Times.jpg" alt="Community Newspaper Group" title="Community Newspaper Group"></a>
                        </div>
                        <div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
                            <a target="_blank" href="http://www.desborough.com.au/"><img src="/images/Desb-Accountants-Logo-2012.jpg" alt="Desborough Accountants" title="Desborough Accountants"></a>
                        </div>
                        <div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
                            <a target="_blank" href="http://rottnestislandcountryclub.com.au/"><img src="/images/RICC-Logo-latest-900x8771.jpg" alt="Rottnest Island Country Club" title="Rottnest Island Country Club"></a>
                        </div>

                    </div><!-- End: Images Area -->

                    
                    <!-- Start: Images Area -->
                    <div class="row wow fadeInUp animated" data-wow-offset="120" data-wow-duration="1.5s">
                        <h2>Bronze</h2>
                        <div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
                            <img src="/images/G-Force-Graphics-Logo.jpg" alt="G Force Graphics" title="G Force Graphics" style="max-width:200px; padding-left: 0px; padding-right:0px" >

                        </div>
                        <div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
                        <a target="_blank" href="http://www.grandcinemas.com.au"><img src="/images/Grand-Cinemas-Logo-CMYK-w-LOC.png" alt="Grand Cinemas" title="Grand Cinemas"></a>

                        </div>
                        <div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
                        <a target="_blank" href="http://www.gwelupfruitsandmore.com/"><img src="/images/Gwelup-Fruits-More-logo.jpg" alt="Gwelup Fruits & More" title="Gwelup Fruits & More"></a>

                        </div>
                        <div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
                        <a target="_blank" href="http://gwelup.igaonline.com.au/"><img src="/images/GWELUP_Sponsor_297mm.jpg" alt="IGA Gwelup" title="IGA Gwelup"></a>

                        </div>
                        <div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
                        <img src="/images/Jim-Kidd-Logo-Carine.jpg" alt="Jim Kidd Sports Carine" title="Jim Kidd Sports Carine" style="max-width:200px; padding-left: 0px; padding-right:0px" >

                        </div>
                        <div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
                        <a target="_blank" href="http://www.kaffeinecafeandpizzeria.com"><img src="/images/Kaffiene-Logo.jpg" alt="Kaffeine" title="Kaffeine"></a>

                        </div>
                        <div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
                        <a target="_blank" href="http://www.karrinyupcentre.com.au/home"><img src="/images/KARRINYUP-LOGO.jpg" alt="Karrinyup Shopping Centre" title="Karrinyup Shopping Centre"></a>

                        </div>
                        <div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
                        <a target="_blank" href="http://www.medifoot.com.au/"><img src="/images/medifoot-logo.jpg" alt="Medi Foot Podiatry" title="Medi Foot Podiatry"></a>

                        </div>
                        <div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
                        <a target="_blank" href="http://www.orourke.com.au/michaela.html"><img src="/images/ORourke-New-logo-001.jpg" alt="O'Rourke Realty Investments" title="O'Rourke Realty Investments"></a>

                        </div>
                        <div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
                        <a target="_blank" href="https://www.facebook.com/paulawooddesign"><img src="/images/PaulaWood-Design-logo.jpg" alt="Paula Wood Graphic & Web Design" title="Paula Wood Graphic & Web Design"></a>

                        </div>
                        <div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
                        <img src="/images/Pipeline_Irrigation.jpg" alt="Pipeline Irrigation" title="Pipeline Irrigation" style="max-width:200px; padding-left: 0px; padding-right:0px" >

                        </div>
                        <div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
                        <a target="_blank" href="http://www.specssmart.com.au"><img src="/images/Specs-Smart-logo.jpg" alt="Spec Smart Gwelup" title="Spec Smart Gwelup"></a>

                        </div>
                        <div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
                        <a target="_blank" href="http://theblindsgallery.com.au/"><img src="/images/THE-BLINDS-GALLERY.jpg" alt="The Blinds Gallery" title="The Blinds Gallery"></a>

                        </div>
                        <div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
                        <a target="_blank" href="http://tinytotstenniswa.com.au/centre_westcoast.php"><img src="/images/Tiny-Tots-Tennis-Logo.jpg" alt="Tiny Tots Tennis" title="Tiny Tots Tennis"></a>

                        </div>
                        <div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
                        <a target="_blank" href="http://www.travelkey.com.au"><img src="/images/plane_trail-blue_stacked_logo.jpg" alt="Travel Key Leederville" title="Travel Key Leederville"></a>

                        </div>
                        <div class="sponsors-logo col-lg-3 com-md-3 col-sm-3 col-xs-6">
                        <a target="_blank" href="http://www.westernbiomedical.com.au/"><img src="/images/Western-Biomedical_Logo-JPEG.jpg" alt="Western Biomedical" title="Western Biomedical"></a>

                        </div>



                    </div><!-- End: Images Area -->



                </div><!-- Start: Sponsore Body Area -->
            </div><!-- End: .container  -->
        </section><!-- End: Sponsore Area, "#SECTION-7" -->



<!--        <section class="collapse-area" id="section-8"> <!~~ Start: Collapse Area, "#SECTION-8" ~~>
            <div class="container">
                <div class="row">

                    <!~~  Start: Collapse Area Left   ~~>
                    <div class="collapse-left col-sm-12 col-md-4 col-lg-4 hidden-xs hidden-sm wow fadeInUp animated" data-wow-offset="10" data-wow-duration="1.5s">
                        <img src="images/collapse.jpg" alt="" class="">
                    </div>
                    <!~~  End: Collapse Area Left  ~~>


                    <!~~ Start: Collapse Area Right  ~~>
                    <div class="collapse-right col-sm-12 col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-7">

                        <h2 class="wow fadeInDown animated" data-wow-offset="10" data-wow-duration="1.5s">Freaquently Asked Question</h2><!~~ Collapse Title Goes Here  ~~>
                        
                        <!~~  Start: Collapse-tab  ~~>
                        <div class="collapse-tab ">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default wow fadeInUp animated" data-wow-offset="10" data-wow-duration="1.5s" id="panel1"><!~~ Start: Tab-1 ~~>
                                    <div class="panel-heading">
                                        <h4 class="panel-title">

                                            <!~~ Tab-1 Title Goes Here  ~~>
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
                                                What if I need to cancel my booking at late notice?
                                                <span class="bar hidden-xs"></span>
                                            </a>

                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">

                                        <!~~ Tab-1 Detail Goes Here  ~~>
                                        <div class="panel-body">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna  aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorp eu feugiat nulla facilisis at vero eros et accumsan et iusto odior
                                        </div>

                                    </div>
                                </div><!~~ End: Tab-1 ~~>
                                <div class="panel panel-default wow fadeInUp animated" data-wow-offset="10" data-wow-duration="1.5s" id="panel2"><!~~ Start: Tab-2 ~~>
                                    <div class="panel-heading">
                                        <h4 class="panel-title">

                                            <!~~ Tab-1 Title Goes Here  ~~>
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                                                Which payment methods do you accept?
                                                <span class="bar hidden-xs"></span>
                                            </a>

                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">

                                        <!~~ Tab-2 Detail Goes Here  ~~>
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3.
                                        </div>

                                    </div>
                                </div><!~~ End: Tab-2 ~~>
                                <div class="panel panel-default wow fadeInUp animated" data-wow-offset="10" data-wow-duration="1.5s" id="panel3"><!~~ Start: Tab-3 ~~>
                                    <div class="panel-heading">
                                        <h4 class="panel-title">

                                            <!~~ Tab-3 Title Goes Here  ~~>
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                                                I'd like to buy 5 tickets, is there bulk pricing?
                                                <span class="bar hidden-xs"></span>
                                            </a>

                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">

                                        <!~~ Tab-3 Detail Goes Here  ~~>
                                        <div class="panel-body">
                                           Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3.
                                        </div>

                                    </div>
                                </div><!~~ End: Tab-3 ~~>
                                <div class="panel panel-default wow fadeInUp animated" data-wow-offset="10" data-wow-duration="1.5s" id="panel4"><!~~ Start: Tab-4 ~~>
                                    <div class="panel-heading">
                                        <h4 class="panel-title">

                                            <!~~ Tab-4 Title Goes Here  ~~>
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed">
                                                What if I need to cancel my booking at late notice?
                                                <span class="bar hidden-xs"></span>
                                            </a>

                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse">

                                        <!~~ Tab-4 Detail Goes Here  ~~>
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3.
                                        </div>

                                    </div>
                                </div><!~~ End: Tab-4 ~~>
                                
                            </div> <!~~ End: .panel-group  ~~>
                        </div><!~~  End: .collapse-tab  ~~>

                    </div>
                    <!~~ End: Collapse Area Right  ~~>


                </div> <!~~ End: .row  ~~>
            </div> <!~~ End: .container  ~~>
        </section> <!~~ End: Collapse Area, "#SECTION-8" ~~>-->



<!--        <section class="scedule testimonial" id="section-9"> <!~~ End: Testimonial Area, "#SECTION-9" ~~>
            <div class="container">
                <div class="testimonial-body scedule-body ">
                    
                    <div role="tabpanel" class="tab-pane active wow fadeInUp animated" data-wow-offset="10" data-wow-duration="1.5s" id="testimonial-1">

                        <div class="dropdown">
                            <span id="btn-testimonial" data-id="#nav-ul-testimonial" class="btn-scedule-css hidden-md hidden-lg label"></span>


                            <!~~ Nav tabs ~~>
                            <ul class="nav nav-cus col-md-4" role="tablist"  id="nav-ul-testimonial">
                                <li role="presentation" class="active">
                                    <a href="#nav-testimonial-1" aria-controls="nav-testimonial-1" role="tab" data-toggle="tab">
                                        <span class="nav-header">Jennifer Doe</span>
                                        <span class="nav-time">09:30am - 11:30am</span>
                                    </a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#nav-testimonial-2" aria-controls="nav-testimonial-2" role="tab" data-toggle="tab">
                                        <span class="nav-header">Mitrel Lord</span>
                                        <span class="nav-time">11:30am - 1pm</span>
                                    </a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#nav-testimonial-3" aria-controls="nav-testimonial-3" role="tab" data-toggle="tab">
                                        <span class="nav-header">Kulsum Doe</span>
                                        <span class="nav-time">09:30am - 11:30am</span>
                                    </a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#nav-testimonial-4" aria-controls="nav-testimonial-4" role="tab" data-toggle="tab">
                                        <span class="nav-header">David Jones</span>
                                        <span class="nav-time">09:30am - 11:30am</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!~~ Tab panes ~~>
                        <div class="tab-content col-md-8">
                            <div role="tabpanel" class="tab-pane active fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s" id="nav-testimonial-1">

                                <img src="images/testimonial-1.jpg" alt="" class="testimonial-img img-circle">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna  aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorp eu feugiat nulla facilisis at vero eros et accumsan</p>
                                <h3>Jennifer Doe</h3>
                                <p>Creative Director of DeviserWeb</p>

                            </div>
                            <div role="tabpanel" class="tab-pane fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s" id="nav-testimonial-2">

                                <img src="images/testimonial-1.jpg" alt="" class="testimonial-img img-circle">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna  aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorp eu feugiat nulla facilisis at vero eros et accumsan</p>
                                <h3>Mitrel Lord</h3>
                                <p>Creative Director of DeviserWeb</p>

                            </div>
                            <div role="tabpanel" class="tab-pane fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s" id="nav-testimonial-3">

                                <img src="images/testimonial-1.jpg" alt="" class="testimonial-img img-circle">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna  aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorp eu feugiat nulla facilisis at vero eros et accumsan</p>
                                <h3>Kulsum Doe</h3>
                                <p>Creative Director of DeviserWeb</p>

                            </div>
                            <div role="tabpanel" class="tab-pane wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s" id="nav-testimonial-4">

                                <img src="images/testimonial-2.jpg" alt="" class="testimonial-img img-circle">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna  aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorp eu feugiat nulla facilisis at vero eros et accumsan</p>
                                <h3>David Jones</h3>
                                <p>Creative Director of DeviserWeb</p>

                            </div>
                        </div>

                    </div><!~~  End: .tabpanel  ~~>
                               
                </div> <!~~ End: .testimonial-body .scedule-body  ~~>
            </div> <!~~ End: .container  ~~>
        </section> <!~~ End: Testimonial Area, "#SECTION-9" ~~>-->



<!--        <section class="twitter-background twitter-posts" id="section-10"> <!~~ End: Twitter Posts Area, "#SECTION-10" ~~>
            <div class="fix overlay-color">
                <div class="container">

                    <div class="row twitter-posts-body col-md-offset-1 col-md-10 wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">
                        
                        <!~~ Twitter Logo goes Here  ~~>
                        <div class="twitter-logo">
                            <i class="fa twitter fa-twitter"></i>
                        </div>
                        
                        <!~~  Start: Slider  ~~>
                        <div id="sync" class="owl-carousel">
            
                            <!~~ TESTIMONIAL TEXT - CLIENT'S MSG ~~>
                            <div class="item row">
                                <div class="col-md-10 col-md-offset-1">
                                    <h3>Support forum is up and running <a href="http://deviserweb.com" target="_blank">@DeviserWeb</a>  just export all content to a .variant file and import it into your purchased version. Instructions in download. Hope to help you soon :)</h3>
                                </div> <!~~ /.col-md-8 col-md-offset-2 ~~>
                            </div>

                            <div class="item row">
                                <div class="col-md-10 col-md-offset-1">
                                    <h3>Support forum is up and running <a href="http://deviserweb.com" target="_blank">@DeviserWeb</a>  just export all content to a .variant file and import it into your purchased version. Instructions in download. Hope to help you soon :)</h3>
                                </div> <!~~ /.col-md-8 col-md-offset-2 ~~>
                            </div>

                            <div class="item row">
                                <div class="col-md-10 col-md-offset-1">
                                    <h3>Support forum is up and running <a href="http://deviserweb.com" target="_blank">@DeviserWeb</a>  just export all content to a .variant file and import it into your purchased version. Instructions in download. Hope to help you soon :)</h3>
                                </div> <!~~ /.col-md-8 col-md-offset-2 ~~>
                            </div>

                            <div class="item row">
                                <div class="col-md-10 col-md-offset-1">
                                    <h3>Support forum is up and running <a href="http://deviserweb.com" target="_blank">@DeviserWeb</a>  just export all content to a .variant file and import it into your purchased version. Instructions in download. Hope to help you soon :)</h3>
                                </div> <!~~ /.col-md-8 col-md-offset-2 ~~>
                            </div>
                             <!~~ /END TESTIMONIAL TEXT - CLIENT'S MSG ~~>

                        </div>
                        <!~~  End: Slider  ~~>
                        
                        <!~~  Link  ~~>
                        <p>Abour 4 Hours ago from <a href="http://deviserweb.com" target="_blank">@DeviserWeb</a> Twitter via Twitter</p>

                    </div> <!~~ End: .row .twitter-posts-body .col-md-offset-1 .col-md-10  ~~>

                </div> <!~~ End: .contaimer  ~~>
            </div> <!~~ End: .overlay-color  ~~>
        </section> <!~~ End: Twitter Posts Area, "#SECTION-10" ~~>-->


<!--        <section class="contact-us" id="section-11"> <!~~ Start: Contact Us Area, "#SECTION-11" ~~>
            <div class="container">
                <div class="row contact-us-body">

                    <div class="contact-us-left col-md-4 wow fadeInRight animated" data-wow-offset="120" data-wow-duration="1.5s">

                        <h2>Venue info</h2>
                        <p><span class="bold">Address:</span> Eventer, one caspian point, pierhead street cardiff waterside, cf10 4dq</p>
                        <p><span class="bold">Contact: </span><a href="callto:+8801740376995">+880 174 037 6995</a></p>
                        <p><span class="bold">Mail: </span><a href="mailto:as@deviserweb.com">as@deviserweb.com</a></p>
                        
                        <!~~ Social Icon Goes Here  ~~>
                        <div class="social-icon">
                            <p><span class="bold">Find Us On</span></p>
                            <ul class="nav navbar-left">
                                <li><a href="#"> <i class="fa facebook fa-facebook"></i> </a></li>
                                <li><a href="#"> <i class="fa twitter fa-twitter"></i> </a></li>
                                <li><a href="#"> <i class="fa youtube fa-youtube"></i> </a></li>
                                <li><a href="#"> <i class="fa skype fa-skype"></i> </a></li>
                                <li><a href="#"> <i class="fa rss fa-rss "></i> </a></li>
                            </ul>
                        </div>

                    </div> <!~~ End: .contact-us-left .col-md-4  ~~>
                    
                    <!~~ Start: Google Map Area, "Part-1-Up" "map" ~~>
                    <div class="contact-us-right col-md-offset-1 col-md-7 wow fadeInLeft animated" data-wow-offset="120" data-wow-duration="1.5s">
                        <div class="row">
                            <div class="map" id="map">
                                
                            </div>
                        </div>
                    </div>
                    <!~~ End: Google Map Area, "map" ~~>

                </div> <!~~ End: .row .contact-us-body  ~~>
            </div> <!~~  End: .container  ~~>
        </section> <!~~ End: Contact Us Area, "#SECTION-11" ~~>-->



        {% include footer.html %}


        <!-- SCRIPTS -->
        <script src="js/jquery-1.11.3.min.js"></script>      
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/jquery.stellar.min.js"></script>
        <script src="js/jquery.scrollTo.min.js"></script>
        <script src="js/jquery.localScroll.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>  
        <script src="js/jquery.nav.js"></script>    
        <script src="js/wow.min.js"></script>               
        <script src="js/jquery.nicescroll.min.js"></script>
        <script src="js/matchMedia.js"></script>
        <script src="js/navbar.matchMedia.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="js/jquery.countdown.js"></script>
        <script src="js/fancySelect.js"></script>
        <script src="js/smoothscroll.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
        
        <script src="js/navbar-custom.js"></script> 
        <script src="js/custom-scripts.js"></script> 

    
    </body>

</html>